@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Admin Table Styles */
.pageBackground {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.adminContainer {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding: 20px; 
  text-align: center; 
}

.adminTitle {
  font-size: 2.5rem; 
  margin-bottom: 10px; 
  color: #ffd700; 
}

.adminDesc {
  font-size: 1.5rem; 
  margin-bottom: 20px;
  color: #cccccc; 
}

.sortableTable {
  border-collapse: collapse;
  table-layout: fixed;
  tr {
    height: 50px;
    &:hover {
      background-color: #000000;
      user-select: none;

    }

    &:nth-child(even) {
      background-color: #2a2a2a;
    }

    td {
      border: 1px solid #fefefe;
      padding: 10px;
      background-color: #1e1e1e;
      text-align: center;
      color: #ffffff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: #2a2a2a;
        user-select: none;
      }
    }
  }

  th {
    padding: 10px;
    border: 1px solid #fefefe;
    background-color: #1e1e1e;
    text-align: center;
    color: #ffffff;

    &:not(:last-child) {
      border-right: 1px solid #444;
    }

    &:hover {
      background-color: #444;
    }
  }
}

.btn {
  background-color: #007bff;
  color: rgba(0, 0, 0, 0.641);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &.btnDanger {
    background-color: #ee606e;

    &:hover {
      background-color: #c82333;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
