.adminCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
        appearance: none; 
        width: 60px; 
        height: 40px; 
        border: 2px solid yellow; 
        border-radius: 3px; 
        position: relative; 
        cursor: pointer;

        &:checked {
            background-color: rgb(149, 149, 6); 
            border-color: black; 

            &::after {
                content: 'O'; 
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
                font-size: 24px; 
                color: black; 
                font-weight: bold; 
            }
        }

        &:indeterminate {
            background-color: rgb(109, 109, 109); 
            border-color: black; 

            &::after {
                content: ''; 
                position: absolute;
                width: 10px; 
                height: 2px; 
                background-color: white; 
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
            }
        }

        &:hover {
            border-color: black; 
        }
    }
}
